input {
  border: 1px solid transparent;
  background-color: ghostwhite;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}

input[type='text'] {
  background-color: white;
}

input[type='submit'] {
  background-color: dodgerblue;
  color: #fff;
}

ul {
  list-style-type: none;
}

@media (max-width: 574px) {
  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100% !important;
    display: block;

    background-image: url('images/Trolltunga.jpg');
    background-size: cover;

    -webkit-filter: blur(5px);
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
  }

  .fg {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .fg-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    margin: auto;
    opacity: 1;
    width: 95%;
    height: 20%;
  }
  .fg-grid {
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .fg-logo {
    grid-row: 1;
    opacity: 1;

    color: #000;
    /*color: #50bbe6;*/
    font-size: 150%;
    font-weight: bold;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .fg-image {
    width: 20%;
    height: 10%;
  }
  .fg-input {
    grid-row: 2;
    position: relative;
  }
  .munInputForm {
    position: relative;
    width: 80%;
  }

  #munInputForm-Input {
    align-self: center;
    /*height: 8vh;*/
    width: 100%;
    margin-right: 10px;
  }

  #munInputForm-Inputautocomplete-list {
    position: absolute;
    top: 48px;
    width: 80%;
    min-width: 100%;
    z-index: 10;
  }
  #munInputForm {
    position: relative;
    width: 100% !important;
  }
  #munInputForm-Form {
    position: relative;
    width: 100%;
  }
  #munInputForm-Button {
    width: 100%;
    margin-top: 5px;
    padding: 0.6rem 0.7rem !important;
    vertical-align: bottom !important;
  }

  .autocomplete {
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .autocomplete-items {
    min-width: 400px;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    background-color: dodgerblue;
  }

  .autocomplete-active {
    background-color: dodgerblue !important;
    color: black;
  }

  .fg-content {
    grid-row: 3;
    padding: 50px;
    color: #000;
    text-align: center;
  }
  .fg-content h5 {
    font-weight: bold;
  }
  .fg-content p {
    font-size: 18px;
    font-weight: bold;
  }
}
@media (min-width: 574px) {
  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100% !important;
    display: block;

    background-image: url('images/Trolltunga.jpg');
    background-size: cover;

    -webkit-filter: blur(5px);
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
  }

  .fg {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .fg-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    margin: auto;

    width: 50%;
    opacity: 1;
    min-width: 850px;
  }
  .fg-grid {
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .fg-logo {
    grid-row: 1;
    opacity: 1;

    color: #000;
    /*color: #50bbe6;*/
    font-size: 72px;
    font-weight: bold;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .fg-image {
    width: 100px;
    height: 100px;
  }
  .fg-input {
    grid-row: 2;
    position: relative;
  }
  .munInputForm {
    position: relative;
    width: 80%;
    max-width: 60%;
  }
  #munInputForm-Input {
    align-self: center;
    /*height: 8vh;*/
    width: 400px;
    margin-right: 10px;
  }

  #munInputForm-Inputautocomplete-list {
    position: absolute;
    top: 48px;
    width: 50%;
    min-width: 100%;
    z-index: 10;
  }
  #munInputForm-Form {
    position: relative;
  }
  #munInputForm-Button {
    padding: 0.6rem 1rem !important;
    vertical-align: bottom !important;
  }

  .autocomplete {
    position: absolute;
    top: 50%;
    left: 40%;
  }

  .autocomplete-items {
    min-width: 400px;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    background-color: dodgerblue;
  }

  .autocomplete-active {
    background-color: dodgerblue !important;
    color: black;
  }

  .fg-content {
    grid-row: 3;
    padding: 50px;
    color: #000;
    text-align: center;
  }
  .fg-content h5 {
    font-weight: bold;
  }
  .fg-content p {
    font-size: 18px;
    font-weight: bold;
  }
}

.resizeMapBox {
  /* position: absolute; */
  z-index: 100;
  /* left: 0; */
  width: 100%;
}

.mapcontainer {
  position: relative;
  height: 300px;
  margin: 0 0 50px 0;
}

/*}*/
