

.status-blocked {background-color: lightcoral}
.status-pending {background-color: #f1fc5a}
.status-finished {background-color: lightgreen}
.status { align-self: center}
div.status > h4 {
    font-size: 4vh;
}
.issue-container {margin: 5% 10% 5% 10%; padding-bottom: 5%}
.issue-image:hover {
    background-color: #b9bbbe;
}
.issue-image {
    width: auto;
    height: 40vh;
    padding: 1% 1% 1% 1%;
}

.flex-container {
    display: flex;
    overflow: auto;
    align-items: start;
}

.navlink-large {
    font-size: 5vh;
}

