

.status-blocked {background-color: #ff726b}
.status-pending {background-color: #ffee75}
.status-finished {background-color: #72ff68}
.status {
    padding: 0 .25% 0 .25%;
}

.card-title h2 {
    font-size: 4vh;
    border-bottom: grey solid 1px;
}

.issue-overview-small-item {
    margin-bottom: 5px;
}

div.status > h4 {
    font-size: 3vh;
}
.issue-container {margin: 5% 15% 5% 15%; padding-bottom: 5%}
.issue-image:hover {
    background-color: #b9bbbe;
}
.issue-image-normal {
    width: 15vw;
    height: auto;
}

.issue-title-normal {
    font-size: 3vw;
    align-self: center;
}

.issue-image {
    width: auto;
    height: 30vh;
    padding: 1% 1% 1% 1%;
}

.flex-container {
    display: flex;
    overflow: auto;
    align-items: start;
}

.navlink-large {
    font-size: 2.5vw;
}

.submitter-info {
    text-align: left;
    align-self: center;
}

.submitter-name {
    font-size: 3vh;
}

.date {
    font-size: 2.6vh;
    color: grey;
}

.date-small {
    font-size: 2.2vh;
    color: grey;
}

.list-group-item {
    padding: 0 0 0 0;
    margin-bottom: 1vw;
}

.profile-image {
    border: gray solid 1px;
    border-radius: 50%;
    height: 12vh;
    width: auto;
    margin: 1vh 1vh 1vh 1vh;
}
.issue-large {
    margin-bottom: 10vh;
}

.feedback-title {
    margin-bottom: 5vh;
    border-bottom: gray solid 1px;
}

.status-small {
    text-align: center;
}

