.custom-nav-btn {
  color: white;
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 18px !important;
  height: 60px !important;
  border-radius: 0px !important;
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
  border-color: #d4cdcd;
}
.custom-nav-link {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
}

.dropdown {
  margin-left: 0px !important;
}
/*ul .active {
  background-color: #917aba;
  color: white;
}
ul .btn:hover:not(.active) {
  background-color: #917aba;
  color: white;
}*/

.back {
  align-content: left;
}

.title {
  align-items: center !important;
}
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
}

.container-fluid {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
