@media (min-width: 574px) {
  .custom-nav-btn {
    color: white;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px !important;
    height: 60px !important;
    border-radius: 0px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-top: none !important;
  }
  .custom-nav-btn:focus {
    background-color: white !important;
    color: black !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px !important;
    height: 60px !important;
    border-radius: 0px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-top: none !important;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9001;
    /*width: 100%;*/
  }

  #footerText {
    color: white;
    margin-left: 3cm;
  }

  #footer {
    margin-left: 22%;
  }
}
@media (max-width: 574px) {
  .custom-nav-btn {
    color: white;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px !important;
    height: 60px !important;
    width: 100% !important;
    text-align: center !important;
    position: static !important;
    border-radius: 0px !important;
    border-right: none !important;
    border-left: none !important;
  }
  .custom-nav-btn:focus {
    background-color: white !important;
    color: black !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 18px !important;
    height: 60px !important;
    width: 100% !important;
    text-align: center !important;
    align-items: center !important;
    position: relative !important;
    border-radius: 0px !important;
    border-right: none !important;
    border-left: none !important;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9001;
    /*width: 100%;*/
    height: 10%;
    text-align: center;
  }

  #footerText {
    color: white;
    text-align: center !important;
    font-size: 80%;
  }

  #footer {
    text-align: center !important;
  }

}

#profileButton {
  width: 180px;
}

.custom-nav-link {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
}

.dropdown {
  margin-left: 0px !important;
  position: relative;
}

.navbar-collapse.collapse.show {
  display: block !important;
}

.dropdown-submenu {
  position: relative !important;
  width: 100% !important;
}
.dropdown-menu {
  position: absolute !important;
}

.dropdown-submenu button::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.back {
  align-content: left;
}

.title {
  align-items: center !important;
}
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 10;
  margin-top: 0px !important;
}

.custom-container-fluid {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
